{% extends "base.html" %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
{% block title %}MainPage{% endblock %}

{% block body %}
    <h1 class="container-fluid" style="margin-bottom: 50px">Image Processing App</h1>
    <div class="container">
    <div class="row">
        <div class="col" id="menu">
            <label class="custom-file">
                <input type="file" id="file" onchange="changeOrgPhoto()">
                <span class="custom-file-control"></span>
            </label>
            <div class="modes row">
                <button class="col" id="inverse">Inverse</button>
                <button class="col" id="average_dithering">Average dithering</button>
                <button class="col" id="ordered_dithering">Ordered dithering</button>
            </div>
        </div>
        <div class="col" id="images">
            <div id="org"></div>
            <div id="gen"></div>
        </div>
    </div>
{% endblock %}
